.app-air-login {
  background: url("../img/air-life.png") no-repeat center 20px, url("../img/login-bottom.png") no-repeat center bottom; }
  .app-air-login .page-home {
    padding-top: 185px;
    width: 85%;
    margin: auto; }
    .app-air-login .page-home input, .app-air-login .page-home .button {
      color: #000;
      border-color: #dddddd; }
    .app-air-login .page-home .button {
      width: 94%;
      margin-left: 3%; }
    .app-air-login .page-home i {
      color: #0ba9f0; }
    .app-air-login .page-home .button-small {
      width: 20%;
      border: none;
      color: #bbbbbb; }
    .app-air-login .page-home .button-right {
      margin-left: 55%; }

.app-air-clinic-page {
  background: #eee;
  letter-spacing: .5px;
  line-height: 1.5; }
  .app-air-clinic-page .departments {
    padding: 12px; }
  .app-air-clinic-page .list {
    margin-top: 10px; }
    .app-air-clinic-page .list .bold {
      font-weight: bolder;
      margin-bottom: 15px; }
    .app-air-clinic-page .list h2 {
      font-size: 16px; }
      .app-air-clinic-page .list h2 .tips {
        color: #87cefa;
        margin-left: 0; }
      .app-air-clinic-page .list h2 span {
        margin-left: 16px;
        font-size: 14px;
        font-weight: normal;
        color: #888; }
    .app-air-clinic-page .list p {
      font-size: 14px;
      color: #888; }
    .app-air-clinic-page .list .introduce {
      text-indent: 2em; }
    .app-air-clinic-page .list .department-details {
      position: relative; }
      .app-air-clinic-page .list .department-details .i {
        position: absolute;
        top: calc(50% - 8px);
        right: 18px;
        color: #888;
        font-size: 16px; }
      .app-air-clinic-page .list .department-details p {
        padding-right: 28px; }

.air-clinic-doctors {
  letter-spacing: 0.5px; }
  .air-clinic-doctors h2 {
    font-weight: bolder; }
  .air-clinic-doctors .padding {
    padding: 5px 0; }

.air-clinic-doctor-details .slide-tab {
  display: flex;
  list-style: none;
  padding: 15px 0;
  border: 1px solid #ddd; }
  .air-clinic-doctor-details .slide-tab li {
    flex: 1;
    text-align: center; }
    .air-clinic-doctor-details .slide-tab li a {
      display: block;
      text-decoration: none;
      color: #828282;
      width: 100%;
      padding: 14px 0; }
      .air-clinic-doctor-details .slide-tab li a:hover {
        cursor: pointer; }
  .air-clinic-doctor-details .slide-tab .current {
    position: relative; }
    .air-clinic-doctor-details .slide-tab .current:after {
      position: absolute;
      left: 0;
      bottom: -16px;
      content: '';
      width: 100%;
      border-bottom: 2px solid #09a9ef; }
    .air-clinic-doctor-details .slide-tab .current a {
      color: #09a9ef; }
