.app-air-login {
  background: url("../img/air-life.png") no-repeat center 20px, url("../img/bg.png") no-repeat center bottom;
  background-size: auto,100%; }
  .app-air-login .page-home {
    padding-top: 185px;
    width: 85%;
    margin: auto; }
    .app-air-login .page-home input, .app-air-login .page-home .button {
      border-color: #dddddd; }
    .app-air-login .page-home .list {
      margin: 10px; }
    .app-air-login .page-home .button {
      width: 94%;
      margin-left: 3%; }
    .app-air-login .page-home i {
      color: #0ba9f0; }
    .app-air-login .page-home .button-small {
      width: 20%;
      border: none;
      color: #bbbbbb; }
    .app-air-login .page-home .button-right {
      margin-left: 55%; }

.app-air-reset-password {
  background: url("../img/air-life.png") no-repeat center 50px; }
  .app-air-reset-password .home-page {
    padding-top: 140px;
    width: 85%;
    margin: auto; }
  .app-air-reset-password .list {
    margin: 10px; }
  .app-air-reset-password .button {
    color: #000;
    border-color: #dddddd;
    width: 94%;
    margin-left: 3%; }
  .app-air-reset-password i {
    color: #0ba9f0; }

.app-air-register-user {
  background: url("../img/air-life.png") no-repeat center 50px; }
  .app-air-register-user .home-page {
    padding-top: 140px;
    width: 85%;
    margin: auto; }
  .app-air-register-user .list {
    margin: 10px; }
  .app-air-register-user .button {
    color: #000;
    border-color: #dddddd;
    width: 94%;
    margin-left: 3%; }
  .app-air-register-user .button-small {
    border: none;
    color: #bbbbbb; }
  .app-air-register-user i {
    color: #0ba9f0; }

.app-air-clinic-home h2 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold; }

.app-air-clinic-home small {
  font-size: 8px;
  color: #888888; }

.app-air-clinic-home .department {
  display: inline-block;
  margin: 8px 0;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #60bdf8; }

.app-air-clinic-department {
  background-color: #f0f0f0; }
  .app-air-clinic-department img {
    width: 100%; }
  .app-air-clinic-department .item {
    font-size: 14px;
    border: none; }
  .app-air-clinic-department .address-message {
    padding-bottom: 0;
    margin-bottom: 10px; }
  .app-air-clinic-department a {
    text-decoration: none;
    color: #000000; }
  .app-air-clinic-department .bold {
    font-weight: bolder;
    margin-bottom: 15px; }
  .app-air-clinic-department h2 {
    font-size: 16px; }
    .app-air-clinic-department h2 .tips {
      color: #87cefa;
      margin-left: 0; }
    .app-air-clinic-department h2 span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: normal;
      color: #888; }
  .app-air-clinic-department p {
    font-size: 14px;
    color: #888; }
  .app-air-clinic-department .address {
    min-height: 20px;
    position: relative; }
    .app-air-clinic-department .address .i {
      position: absolute;
      right: 18px;
      color: #888;
      font-size: 16px; }
  .app-air-clinic-department .address .item-content {
    min-height: 20px; }
  .app-air-clinic-department .phone p {
    padding-bottom: 0; }
  .app-air-clinic-department .department-details {
    position: relative; }
    .app-air-clinic-department .department-details .i {
      position: absolute;
      top: calc(50% - 8px);
      right: 18px;
      color: #888;
      font-size: 16px; }

.app-air-clinic-page {
  background: #eee;
  letter-spacing: .5px;
  line-height: 1.5; }
  .app-air-clinic-page .departments {
    padding: 12px; }
  .app-air-clinic-page .list {
    margin-top: 10px; }
    .app-air-clinic-page .list .bold {
      font-weight: bolder;
      margin-bottom: 15px; }
    .app-air-clinic-page .list h2 {
      font-size: 16px; }
      .app-air-clinic-page .list h2 .tips {
        color: #87cefa;
        margin-left: 0; }
      .app-air-clinic-page .list h2 span {
        margin-left: 16px;
        font-size: 14px;
        font-weight: normal;
        color: #888; }
    .app-air-clinic-page .list p {
      font-size: 14px;
      color: #888; }
    .app-air-clinic-page .list .introduce {
      text-indent: 2em; }
    .app-air-clinic-page .list .department-details {
      position: relative; }
      .app-air-clinic-page .list .department-details .i {
        position: absolute;
        top: calc(50% - 8px);
        right: 18px;
        color: #888;
        font-size: 16px; }
      .app-air-clinic-page .list .department-details p {
        padding-right: 28px; }

.air-clinic-doctors {
  letter-spacing: 0.5px; }
  .air-clinic-doctors h2 {
    font-weight: bolder; }
  .air-clinic-doctors .padding {
    padding: 5px 0; }

.air-clinic-doctor-details .date-choice {
  margin-top: 14px;
  background: #fff; }
  .air-clinic-doctor-details .date-choice h2 {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 10px; }
  .air-clinic-doctor-details .date-choice .date-row {
    display: flex; }
    .air-clinic-doctor-details .date-choice .date-row:last-child {
      border-bottom: solid 1px #ddd; }
    .air-clinic-doctor-details .date-choice .date-row .date-col {
      flex: 1;
      text-align: center;
      padding: 10px 0;
      border: 1px solid #ddd;
      border-bottom-style: none;
      border-right-style: none; }
      .air-clinic-doctor-details .date-choice .date-row .date-col.active {
        background: #5cbaf0;
        color: #fff; }
    .air-clinic-doctor-details .date-choice .date-row .date-col1 {
      flex-basis: 37px;
      flex-grow: 0;
      flex-shrink: 0;
      border: 1px solid #ddd;
      border-bottom-style: none;
      border-right-style: none; }

.air-clinic-doctor-details .time-choice {
  margin-top: 10px;
  background: #fff;
  color: #5cbaf0; }
  .air-clinic-doctor-details .time-choice h2 {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 10px; }
  .air-clinic-doctor-details .time-choice .time-row {
    display: flex; }
    .air-clinic-doctor-details .time-choice .time-row:last-child {
      border-bottom: solid 1px #ddd; }
  .air-clinic-doctor-details .time-choice .time-col {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-bottom-style: none;
    border-right-style: none; }
    .air-clinic-doctor-details .time-choice .time-col.disable {
      background: #ddd;
      color: red; }

.air-clinic-doctor-details .address {
  width: 100%;
  margin: 0;
  padding: 10px;
  background: #fff; }

.air-clinic-doctor-details .slide-tab {
  background: #fff;
  display: flex;
  box-sizing: border-box;
  height: 45px;
  list-style: none;
  border: 1px solid #ddd; }
  .air-clinic-doctor-details .slide-tab li {
    flex: 1;
    text-align: center; }
    .air-clinic-doctor-details .slide-tab li a {
      display: block;
      text-decoration: none;
      color: #828282;
      width: 100%;
      line-height: 45px; }
      .air-clinic-doctor-details .slide-tab li a:hover {
        cursor: pointer; }
  .air-clinic-doctor-details .slide-tab .current {
    position: relative; }
    .air-clinic-doctor-details .slide-tab .current:after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 100%;
      border-bottom: 2px solid #09a9ef; }
    .air-clinic-doctor-details .slide-tab .current a {
      color: #09a9ef; }

.air-clinic-doctor-details .bar-footer .left {
  position: absolute;
  width: 284px; }
  .air-clinic-doctor-details .bar-footer .left .introduce {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    padding-left: 10px; }
    .air-clinic-doctor-details .bar-footer .left .introduce h2 {
      font-size: 16px;
      margin: 0;
      font-weight: bolder; }
  .air-clinic-doctor-details .bar-footer .left .price {
    position: absolute;
    top: 0;
    right: 0;
    width: 84px; }
    .air-clinic-doctor-details .bar-footer .left .price .old {
      font-size: 14px;
      text-decoration: line-through;
      margin-left: 10px; }
    .air-clinic-doctor-details .bar-footer .left .price .new {
      font-size: 16px;
      color: red; }

.air-clinic-doctor-details .bar-footer .right {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  padding: 0 18px;
  background: #387ef5;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: 1px solid #0c60ee;
  border-radius: 2px; }

.app-air-home-page {
  background-color: #f0f0f0; }
  .app-air-home-page img {
    width: 100%; }
  .app-air-home-page .home-page .row {
    padding: 0 !important; }
    .app-air-home-page .home-page .row h2, .app-air-home-page .home-page .row p {
      width: 100px; }
  .app-air-home-page .home-page .col-50 {
    padding: 0 !important; }
  .app-air-home-page .home-page .list {
    height: 70px; }
  .app-air-home-page .home-page .item-thumbnail-right, .app-air-home-page .home-page .item-thumbnail-right .item-content {
    min-height: 0; }
  .app-air-home-page .home-page .doctors {
    margin-top: 4px; }
  .app-air-home-page .home-page .row img {
    width: 38px;
    height: 38px; }

.app-air-clinic-my-service .slider {
  height: 100%; }

.app-air-clinic-my-service .tab-myserve-item {
  line-height: 0px;
  color: #08a9ec;
  height: 10px;
  border-radius: 6px;
  border-color: #08a9ec; }

.app-air-clinic-my-service .tab-myserve-left {
  position: absolute;
  margin-left: -80px; }

.slidingTabs {
  height: 50px;
  z-index: 10; }

.slidingTabs .scroll {
  height: auto;
  min-width: 100%; }

.slidingTabs ul {
  background-color: #fff;
  height: 50px; }

.slidingTabs ul li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  margin: 0;
  padding: 0 12px 20px 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: #8c8c8c;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
  position: relative;
  overflow: hidden; }

.slidingTabs ul li.tab-active {
  color: #08a9ec !important; }

.slidingTabs ul li .ink {
  display: block;
  position: absolute;
  background: rgba(56, 147, 245, 0.8);
  border-radius: 100%;
  transform: scale(0); }

/*.slidingTabs ul li .ink.animate {*/
/*-webkit-animation: ripple 0.65s linear;*/
/*animation: ripple 0.65s linear;*/
/*}*/
.slidingTabs .tab-indicator-wrapper {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(-2px);
  position: absolute; }

.slidingTabs .tab-indicator-wrapper .tab-indicator {
  height: 100%;
  background-color: #08a9ec;
  width: 70px;
  position: relative; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }

.ion-clinic-pay .flow {
  display: flex;
  width: 100%;
  height: 62px; }
  .ion-clinic-pay .flow .flowItem {
    flex: 1;
    position: relative; }
    .ion-clinic-pay .flow .flowItem:before {
      position: absolute;
      top: 26px;
      left: 0;
      content: '';
      width: 18px;
      border-top: 2px solid #09a9ef; }
    .ion-clinic-pay .flow .flowItem:after {
      position: absolute;
      top: 26px;
      right: 0;
      content: '';
      width: 18px;
      border-top: 2px solid #09a9ef; }
    .ion-clinic-pay .flow .flowItem:first-child:before {
      width: 0; }
    .ion-clinic-pay .flow .flowItem:last-child:after {
      width: 0; }
    .ion-clinic-pay .flow .flowItem .fIcon {
      position: absolute;
      top: 18px;
      left: 40px;
      width: 16px;
      height: 16px;
      border: 2px solid #09a9ef;
      border-radius: 50%; }
      .ion-clinic-pay .flow .flowItem .fIcon.active {
        background: #09a9ef;
        text-align: center; }
        .ion-clinic-pay .flow .flowItem .fIcon.active i:before {
          color: white;
          height: 100%;
          line-height: 16px;
          font-size: 16px; }
    .ion-clinic-pay .flow .flowItem .des {
      position: absolute;
      bottom: 2px;
      text-align: center;
      width: 100%; }

.ion-clinic-pay .item {
  padding: 10px; }

.ion-clinic-pay h2 {
  font-weight: bolder; }

.ion-clinic-pay .price {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: red; }

.ion-clinic-pay .choice {
  padding-left: 20px;
  font-weight: bolder;
  background: #ddd; }

.ion-clinic-pay .list .thumbnail-left {
  padding: 10px;
  border-bottom: 1px solid #ddd; }
  .ion-clinic-pay .list .thumbnail-left img {
    width: 40px;
    height: 40px;
    float: left; }
  .ion-clinic-pay .list .thumbnail-left p {
    padding-left: 60px;
    margin: 0; }

.ion-clinic-pay .submit {
  padding: 0 10px; }
  .ion-clinic-pay .submit button {
    background: #09a9ef;
    color: white; }

.app-air-clinic-my-appointment .row {
  width: 100%; }

.app-air-clinic-my-appointment .row-left {
  width: 70%; }

.app-air-clinic-my-appointment .row-right {
  width: 30%; }

.app-air-clinic-my-appointment .urgent-appointment {
  padding-top: 6px;
  padding-bottom: 10px; }

.app-air-clinic-my-appointment .color-red {
  color: red; }

.app-air-clinic-my-appointment .slider {
  height: 100%; }

.app-air-clinic-my-appointment .tab-myserve-item {
  line-height: 0;
  color: #08a9ec;
  height: 10px;
  border-radius: 6px;
  border-color: #08a9ec; }

.app-air-clinic-my-appointment .tab-myserve-left {
  position: absolute;
  margin-left: -80px; }

.slidingTabs {
  height: 50px;
  z-index: 10; }

.slidingTabs .scroll {
  height: auto;
  min-width: 100%; }

.slidingTabs ul {
  background-color: #fff;
  height: 50px; }

.slidingTabs ul li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  margin: 0;
  padding: 0 12px 20px 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: #8c8c8c;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
  position: relative;
  overflow: hidden; }

.slidingTabs ul li.tab-active {
  color: #08a9ec !important; }

.slidingTabs ul li .ink {
  display: block;
  position: absolute;
  background: rgba(56, 147, 245, 0.8);
  border-radius: 100%;
  transform: scale(0); }

/*.slidingTabs ul li .ink.animate {*/
/*-webkit-animation: ripple 0.65s linear;*/
/*animation: ripple 0.65s linear;*/
/*}*/
.slidingTabs .tab-indicator-wrapper {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(-2px);
  position: absolute; }

.slidingTabs .tab-indicator-wrapper .tab-indicator {
  height: 100%;
  background-color: #08a9ec;
  width: 70px;
  position: relative; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }

.app-air-clinic-family-relation .item-content {
  padding-top: 4px;
  padding-bottom: 8px;
  font-size: 13px;
  color: #666666;
  border: none !important; }

.app-air-clinic-family-relation .item {
  border: none !important; }

.app-air-clinic-family-relation .member-name {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  padding-bottom: 6px; }

.app-air-clinic-family-relation .list {
  border: 1px !important;
  margin-bottom: 2px !important; }

.app-air-clinic-edit-personal .row {
  margin: 0 !important;
  text-align: center !important; }

.app-air-clinic-edit-personal .item {
  border: none !important; }

.app-air-clinic-edit-personal .item-right {
  width: 70%;
  padding-top: 25px; }

.app-air-clinic-edit-personal .item-left {
  width: 30%; }

.app-air-clinic-edit-personal .sexy {
  padding-top: 0; }

.app-air-clinic-add-personal .row {
  margin: 0 !important;
  text-align: center !important; }

.app-air-clinic-add-personal .item {
  border: none !important; }

.app-air-clinic-add-personal .item-right {
  width: 70%;
  padding-top: 25px; }

.app-air-clinic-add-personal .item-left {
  width: 30%; }

.app-air-clinic-add-personal .sexy {
  padding-top: 0; }

.app-air-clinic-personal-center a:link, .app-air-clinic-personal-center a:active, .app-air-clinic-personal-center a:visited, .app-air-clinic-personal-center a:hover {
  color: #000000; }

.app-air-clinic-personal-center .content-body {
  background-color: #e5e5e5; }

.app-air-clinic-personal-center .button-logout {
  margin-top: 45px;
  color: #4b8bf4; }

.app-air-clinic-personal-center ul {
  margin-bottom: 10px;
  margin-top: 5px; }

.app-air-clinic-personal-center .item {
  padding-top: 20px;
  padding-bottom: 20px; }

.app-air-clinic-personal-center .item-content {
  padding-top: 10px;
  padding-bottom: 6px;
  border: none; }

.app-air-clinic-personal-center .person-icon-inner {
  font-size: 1rem !important; }

.app-air-clinic-personal-center .person-icon-outer {
  opacity: 0.5; }

.app-air-clinic-personal-center .color-orange {
  color: orange; }

.app-air-clinic-personal-center .small-icon {
  font-size: 1rem; }

.app-air-clinic-personal-center .middle-icon {
  font-size: 1.5rem; }

.app-air-clinic-personal-center .color-red {
  color: red; }

.app-air-clinic-personal-center .colore-green {
  color: green; }

.app-air-clinic-personal-center .colore-blue {
  color: blue; }

.app-air-clinic-personal-center .colore-purple {
  color: purple; }

.app-air-clinic-personal-center .color-pink {
  color: pink; }

.app-air-clinic-personal-center .item-border {
  padding: 0 !important;
  border: none; }

.app-air-clinic-personal-center .item-icon-left {
  border: none; }

.app-air-clinic-personal-message .row {
  margin: 0 !important;
  text-align: center !important; }

.app-air-clinic-personal-message .item {
  border: none !important; }

.app-air-clinic-personal-message .item-right {
  width: 70%;
  padding-top: 25px; }

.app-air-clinic-personal-message .item-left {
  width: 30%; }

.app-air-clinic-personal-message .sexy {
  padding-top: 0; }

.air-clinic-illness-description .flow {
  display: flex;
  width: 100%;
  height: 62px; }
  .air-clinic-illness-description .flow .flowItem {
    flex: 1;
    position: relative; }
    .air-clinic-illness-description .flow .flowItem:before {
      position: absolute;
      top: 26px;
      left: 0;
      content: '';
      width: 18px;
      border-top: 2px solid #09a9ef; }
    .air-clinic-illness-description .flow .flowItem:after {
      position: absolute;
      top: 26px;
      right: 0;
      content: '';
      width: 18px;
      border-top: 2px solid #09a9ef; }
    .air-clinic-illness-description .flow .flowItem:first-child:before {
      width: 0; }
    .air-clinic-illness-description .flow .flowItem:last-child:after {
      width: 0; }
    .air-clinic-illness-description .flow .flowItem .fIcon {
      position: absolute;
      top: 18px;
      left: 40px;
      width: 16px;
      height: 16px;
      border: 2px solid #09a9ef;
      border-radius: 50%; }
      .air-clinic-illness-description .flow .flowItem .fIcon.active {
        background: #09a9ef;
        text-align: center; }
        .air-clinic-illness-description .flow .flowItem .fIcon.active i:before {
          color: white;
          height: 100%;
          line-height: 16px;
          font-size: 16px; }
    .air-clinic-illness-description .flow .flowItem .des {
      position: absolute;
      bottom: 2px;
      text-align: center;
      width: 100%; }

.air-clinic-illness-description .item {
  padding: 10px; }
  .air-clinic-illness-description .item h2 {
    margin: 0; }
  .air-clinic-illness-description .item textarea {
    resize: none;
    width: 100%;
    height: 80px; }
  .air-clinic-illness-description .item .title {
    font-size: 14px;
    font-weight: bolder;
    padding: 5px; }
  .air-clinic-illness-description .item i {
    font-size: 14px; }
  .air-clinic-illness-description .item button {
    width: 100%;
    background: #09a9ef;
    color: #fff; }
