
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.gradle
local.properties
.idea
.DS_Store
build
out
*.iml
*.ipr
*.iws
jshint-output.html
xcuserdata

node_modules/
platforms/
resources/


/plugins/
