<ion-view class="app-air-home-page" view-title="爱尔生活">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div><img ng-src="img/home-page.jpg"></div>
      </ion-slide>
      <ion-slide>
        <div><img ng-src="img/home-page.jpg"></div>
      </ion-slide>
      <ion-slide>
        <div><img ng-src="img/home-page.jpg"></div>
      </ion-slide>
    </ion-slide-box>

    <div class="home-page">
      <div class="row">
        <div class="col col-50">
          <ion-list can-swipe="listCanSwipe">
            <ion-item class="item-thumbnail-right">
              <img ng-src="img/0.png">
              <h2>复诊</h2>
              <p>及时复诊预约</p>
            </ion-item>
          </ion-list>
        </div>
        <div class="col col-50">
          <ion-list can-swipe="listCanSwipe">
            <ion-item class="item-thumbnail-right" href="#/air-clinic-home">
              <img ng-src="img/2.png">
              <h2>爱尔诊所</h2>
              <p>名医坐诊</p>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <ion-list can-swipe="listCanSwipe">
            <ion-item class="item-thumbnail-right">
              <img ng-src="img/3.png">
              <h2>名医联盟</h2>
              <p>线上咨询</p>
            </ion-item>
          </ion-list>
        </div>
        <div class="col col-50">
          <ion-list can-swipe="listCanSwipe">
            <ion-item class="item-thumbnail-right">
              <img ng-src="img/5.png">
              <h2>商户联盟</h2>
              <p>信赖商户</p>
            </ion-item>
          </ion-list>
        </div>
      </div>
        <ion-item class="doctors">
          <span>名医联盟推荐医生</span>
        </ion-item>
      <!--添加item-text-wrap 可以使item类的内容换行-->

      <!--医生详情开始-->
      <!--医生一详情-->
      <ion-item class="doctor-details item-text-wrap item-thumbnail-left" ng-repeat="arr in doctorData" href="#">
        <img ng-src="img/home-page.jpg" alt="">
        <h2>{{arr.name}}<span>{{' '+arr.hospital_department_name}}{{' '+arr.job_title}}</span></h2>
        <p ng-bind="arr.introducation"></p>
      </ion-item>
      <!--医生详情结束-->

    </div>
  </ion-content>
</ion-view>
