<ion-view view-title="我的预约"   class="app-air-clinic-my-appointment">
  <ion-content>
    <ion-slide-box show-pager="false" ion-slide-tabs slide-tabs-scrollable="false">
      <ion-slide ion-slide-tab-label="未付款" >
        <ion-content>
          <div class="row">
            <div class="row-left">
              <div class="row urgent-appointment"><span class="col-33">2016-12-02</span><span class="col-33">11:25</span><span class="col-33">老司机</span></div>
            <div class=" urgent-appointment"><span>口腔科</span><span>孙医生（工号007）</span></div>
            </div>
            <div class="row-right">
              <div class=" urgent-appointment">加急预约</div>
              <div class=" urgent-appointment color-red">￥0.01</div>
            </div>
          </div>
        </ion-content>
      </ion-slide>
      <ion-slide ion-slide-tab-label="已付款" >
        <ion-content>
          <div class="row">
            <div class="row-left">
              <div class="row urgent-appointment"><span class="col-33">2016-12-02</span><span class="col-33">11:25</span><span class="col-33">老司机</span></div>
              <div class=" urgent-appointment"><span>口腔科</span><span>孙医生（工号007）</span></div>
            </div>
            <div class="row-right">
              <div class=" urgent-appointment">加急预约</div>
              <div class=" urgent-appointment color-red">￥0.01</div>
            </div>
          </div>
        </ion-content>
      </ion-slide>
    </ion-slide-box>
    </ion-content>
  </ion-view>
