<ion-view view-title="支付" class="ion-clinic-pay">
  <ion-content>
    <div class="flow">
      <div class="flowItem">
        <span class="fIcon"></span>
        <span class="des">病情描述</span>
      </div>
      <div class="flowItem">
      <span class="fIcon active">
        <i class="ion-ios-checkmark-empty"></i>
      </span>
        <span class="des">支付</span>
      </div>
      <div class="flowItem">
        <span class="fIcon"></span>
        <span class="des">病情描述</span>
      </div>
      <div class="flowItem">
        <span class="fIcon"></span>
        <span class="des">病情描述</span>
      </div>
    </div>
    <ion-item>
      <h2>孙医生(工号007)-口腔科加急门诊预约</h2>
      <span class="price">0.01元</span>
    </ion-item>
    <ion-item>
      <p>预约时间:2016-12-04 08:30:00</p>
    </ion-item>
    <ion-item>
      <p>就诊地址：爱尔诊所后宰门诊室 后宰门130号创新大厦24楼23号</p>
    </ion-item>
    <ion-item>
      <p>病情描述:测试</p>
    </ion-item>
    <ion-item class="choice">
      请选择支付方式
    </ion-item>
    <div class="list">
      <div class="thumbnail-left">
        <img ng-src="img/test.jpg" >
        <p>微信支付</p>
        <p>推荐安装微信5.0及以上版本使用</p>
      </div>
      <div class="thumbnail-left">
        <img ng-src="img/test.jpg">
        <p>支付宝支付</p>
        <p>推荐安装支付宝客户端的用户</p>
      </div>
    </div>
    <div class="submit">
      <button class="button button-block">确认支付</button>
    </div>

  </ion-content>
</ion-view>
