<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 首页 -->
  <ion-tab title="首页" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="air-home-page"></ion-nav-view>
  </ion-tab>

  <!-- 我的服务 -->
  <ion-tab title="我的服务" icon-off="ion-ios-keypad" icon-on="ion-ios-keypad" href="#/tab/chats">
    <ion-nav-view name="air-my-service"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 -->
  <ion-tab title="个人中心" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/account">
    <ion-nav-view name="air-personal-center"></ion-nav-view>
  </ion-tab>


</ion-tabs>
