<ion-view class="app-air-clinic-home" view-title="爱尔诊所">
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="arr in clinicArray"
                ng-click="changeClinic($index)">
        <img ng-src="img/test.jpg" alt="">
        <h2 ng-bind="arr.name">
        </h2>
        <span  ng-repeat="departmentArr in arr.departments">
          <span class="department" ng-bind="departmentArr.name"></span>
        </span>
        <p ng-bind="arr.address"></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
