<ion-view view-title="个人信息"   class="app-air-clinic-personal-message">
  <ion-content >
    <div class="list row" style="margin: 0px" >
      <div class="item col-30" href="#" style="border: none">
         姓名
      </div>
        <div class="item col-70" style="border: none;text-align: center" >
      老司机
    </div>
    </div>
    <div class="list row" >
      <div class="item col-30" href="#" style="border: none">
        身份证
      </div>
      <div class="item col-70" style="border: none;text-align: center" >
        1231231235434124234234
      </div>
      </div>
    <div class="list row" >
      <div class="item col-30" href="#" style="border: none">
        性别
      </div>
          <ion-radio class="item col-34" ng-model="choice" ng-value="'A'" style="border: none">男</ion-radio>
          <ion-radio class="item col-34" ng-model="choice" ng-value="'B'" style="border: none">女</ion-radio>
    </div>
    <div class="list row" >
      <div class="item col-30" href="#" style="border: none">
        地址
      </div>
      <div class="item col-70" style="border: none;text-align: center" >
        西斜七路
      </div>

    </div>
    <div class="card">
      <div class="item item-text-wrap">
        温馨提示
        </br>
        </br>
        请您正确填写个人信息，以便于对您提供优质服务
      </div>
    </div>
    <button class="button button-block button-positive">
      保存
    </button>
    </ion-content>
  </ion-view>
