<ion-view view-title="医生详情" class="air-clinic-doctor-details">
  <ion-content>
    <ion-item class="item item-thumbnail-left item-text-wrap" href="#/air-clinic-Doctor/:doctorId">
      <img ng-src="img/test.jpg" alt="">
      <h2 style="font-weight: bolder">靳医生(工号005)</h2>
      <p class="padding" style="padding-left: 0">爱尔诊所后宰门诊室</p>
      <p>口腔科 医师</p>
    </ion-item>
    <div>
      <ul class="slide-tab">
        <li ng-class="tab.current == 0 ? 'current':''">
          <a ng-click="activeTab(0)">预约</a>
        </li>
        <li ng-class="tab.current == 1 ? 'current':''">
          <a ng-click="activeTab(1)">资料</a>
        </li>
      </ul>


      <div class="tab">
        <div ng-if="tab.current == 0">
          <p class="address">爱尔诊所后宰门诊室 后宰门130号创之星大厦一单元122（中户）</p>
          <div class="date-choice">
            <h2>日期选择</h2>
            <div class="date-row row1">
              <div class="date-col date-col1">日<br>期</div>
              <div class="date-col">12.2<br>周 一</div>
              <div class="date-col">12.2<br>周 一</div>
              <div class="date-col active">12.2<br>周 一</div>
              <div class="date-col">12.2<br>周 一</div>
              <div class="date-col">12.2<br>周 一</div>
              <div class="date-col">12.2<br>周 一</div>
              <div class="date-col">12.2<br>周 一</div>
            </div>
            <div class="date-row">
              <div class="date-col date-col1">上午</div>
              <div class="date-col"></div>
              <div class="date-col"></div>
              <div class="date-col active">坐诊</div>
              <div class="date-col"></div>
              <div class="date-col"></div>
              <div class="date-col"></div>
              <div class="date-col"></div>
            </div>
            <div class="date-row">
              <div class="date-col date-col1">下午</div>
              <div class="date-col"></div>
              <div class="date-col"></div>
              <div class="date-col active">坐诊</div>
              <div class="date-col"></div>
              <div class="date-col"></div>
              <div class="date-col"></div>
              <div class="date-col" style="color: #5cbaf0;">坐诊</div>
            </div>
          </div>
          <div class="time-choice">
            <h2>选择上午时间</h2>
            <div class="time-row">
              <div class="time-col disable">08:00<br>不可预约</div>
              <div class="time-col">08:30<br>余号4个</div>
              <div class="time-col">08:30<br>余号4个</div>
              <div class="time-col">08:30<br>余号4个</div>
            </div>
            <div class="time-row">
              <div class="time-col">08:30<br>余号4个</div>
              <div class="time-col">08:30<br>余号4个</div>
              <div class="time-col">08:30<br>余号4个</div>
              <div class="time-col">08:30<br>余号4个</div>
            </div>
          </div>
          <div class="time-choice">
            <h2>选择下午时间</h2>
            <div class="time-row">
              <div class="time-col">13:00<br>不可预约</div>
              <div class="time-col">13:30<br>余号4个</div>
              <div class="time-col disable">13:30<br>不可预约</div>
              <div class="time-col">13:30<br>余号4个</div>
            </div>
            <div class="time-row">
              <div class="time-col disable">13:30<br>不可预约</div>
              <div class="time-col">13:30<br>余号4个</div>
              <div class="time-col">13:30<br>余号4个</div>
              <div class="time-col">13:30<br>余号4个</div>
            </div>
          </div>
        </div>
        <div ng-if="tab.current == 1">
          <div style="height: 200px"><h1 style="color: red">你发现了新大陆！</h1></div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <div class="left">
      <div class="introduce">
        <h2>加急预约</h2>
        <p>提前预约享受更多优惠</p>
      </div>
      <div class="price">
        <span class="old">200元</span>
        <br>
        <span class="new">2.01元</span>
      </div>
    </div>
    <button class="right" ng-click="appointment()">提交预约</button>
  </div>
</ion-view>
