<ion-view view-title="爱尔诊所" class="app-air-clinic-home">
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-text-wrap" href="#/air-clinic-department">
        <img ng-src="img/test.jpg" alt="">
        <h2>爱尔诊所后宰门诊室<small>9位三甲医生</small></h2>
        <span class="department">口腔科</span>
        <p>紫薇龙腾新世界2611</p>
      </ion-item>
      <ion-item class="item item-thumbnail-left item-text-wrap" href="#/air-clinic-Doctor/:doctorId">
        <img ng-src="img/test.jpg" alt="">
        <h2>爱尔诊所后宰门诊室<small>9位三甲医生</small></h2>
        <span class="department">口腔科</span>
        <p>紫薇龙腾新世界2611</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
