<ion-view view-title="添加联系人"   class="app-air-clinic-add-personal">
  <ion-content >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">姓名</span>
          <input type="text" placeholder="请输入姓名">
        </label>
        <label class="item item-input">
          <span class="input-label">身份证号</span>
          <input type="password" placeholder="请输入身份证号">
        </label>
      </div>
    <div class="list row" >
      <div class="item col-30" href="#" style="border: none">
        性别
      </div>
      <ion-radio class="item col-34" ng-model="choice" ng-value="'A'" style="border: none">男</ion-radio>
      <ion-radio class="item col-34" ng-model="choice" ng-value="'B'" style="border: none">女</ion-radio>
    </div>
    <div class="list row" >
      <div class="item col-30" href="#" style="border: none">
        地址
      </div>
      <div class="item col-70" style="border: none;text-align: center" >
        西斜七路
      </div>

    </div>
    <div class="card">
      <div class="item item-text-wrap">
        温馨提示
        </br>
        </br>
        请您正确填写个人信息，以便于对您提供优质服务
      </div>
    </div>
    <button class="button button-block button-positive">
      保存
    </button>
  </ion-content>
</ion-view>

