<ion-view view-title="个人信息"   class="app-air-clinic-personal-message">
  <ion-content >
    <div class="list row"  >
      <div class="item item-left">
        姓名
      </div>
      <input type="text" value="老司机" class="item item-right">

      </input>
    </div>
    <div class="list row" >
      <div class="item item-left">
        身份证
      </div>
      <input type="text" value="1231231235434124234234" class="item item-right">

      </input>
    </div>
    <div class="list row" >
      <div class="item item-left">
        性别
      </div>
      <div class="item item-right row sexy">
        <ion-radio class="item col-50" ng-model="choice" ng-value="'A'" >男</ion-radio>
        <ion-radio class="item col-34" ng-model="choice" ng-value="'B'" >女</ion-radio>
      </div>
    </div>
    <div class="list row" >
      <div class="item item-left">
        地址
      </div>
      <input type="text" value="西斜七路" class="item item-right">

      </input>

    </div>
    <div class="card">
      <div class="item item-text-wrap">
        温馨提示
        </br>
        </br>
        请您正确填写个人信息，以便于对您提供优质服务
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="onClickUpdatePersonalMessage()">
      保存
    </button>
    </ion-content>
  </ion-view>
