<ion-view view-title="诊室" class="app-air-clinic-department">
    <ion-content>
      <img ng-src="img/home-page.jpg">
      <ion-list class="list">
        <ion-item class="item item-text-wrap address-message">
          <ion-item class="item-thumbnail-right item-text-wrap address" href="#/air-clinic-page">
            <h2>爱尔诊所后宰门诊室</h2>
          </ion-item>
          <p class="row">
            <ion-checkbox>三甲名医出诊</ion-checkbox>
            <ion-checkbox>无过度医疗</ion-checkbox>
          </p>
          <ion-item class="item-thumbnail-right item-text-wrap address" href="#/air-clinic-address">
            <i class="ion-chevron-right i"></i>
            <p>紫薇龙腾新世界2611</p>
          </ion-item>
          <ion-item class="item-thumbnail-right item-text-wrap address phone" href="#/air-clinic-address">
            <i class="ion-chevron-right i"></i>
            <p>紫薇龙腾新世界2611</p>
          </ion-item>
        </ion-item>
      </ion-list>
      <ion-list class="list">
        <ion-item class="departments">
          <h2>科室 <span class="tips">(点击科室选择医生进行门诊预约)</span></h2>
        </ion-item>
        <!--添加item-text-wrap 可以使item类的内容换行-->

        <!--科室详情开始-->
        <!--科室1详情-->
        <ion-item class="department-details item-thumbnail-right item-text-wrap" href="#/airClinicPage/:clinicId">
          <i class="ion-chevron-right i"></i>
          <h2 class="bold">修复科(镶牙)<span>1位三甲医生</span></h2>
          <p>固定义齿,活动义齿,全口义齿,牙齿美容,附着体义齿等治疗</p>
        </ion-item>
        <ion-item class="department-details item-thumbnail-right item-text-wrap">
          <i class="ion-chevron-right i"></i>
          <h2 class="bold">修复科(镶牙)<span>1位三甲医生</span></h2>
          <p>固定义齿,活动义齿,全口义齿,牙齿美容,附着体义齿等治疗</p>
        </ion-item>


        <!--科室详情结束-->
      </ion-list>
  </ion-content>
</ion-view>
