.app-air-register-user{
  background: url("../img/air-life.png") no-repeat center 50px;
  .home-page{
    padding-top: 140px;
    width: 85%;
    margin: auto;
  }
  .list{
    margin:10px ;
  }
  .button{
    color: #000;
    border-color: #dddddd;
    width: 94%;
    margin-left: 3%;
  }
  .button-small{
    border: none;
    color: #bbbbbb;
  }
  i{
    color: #0ba9f0;
  }
}
