.app-air-login{
  background: url("../img/air-life.png") no-repeat center 20px,
              url("../img/login-bottom.png") no-repeat center bottom;
  .page-home{
    padding-top: 185px;
    width: 85%;
    margin: auto;
    input,.button{
      color: #000;
      border-color: #dddddd;
    }
    .list{
      margin:10px ;
    }
    .button{
      width: 94%;
      margin-left: 3%;
    }
    i{
      color: #0ba9f0;
    }
    .button-small{
      width: 20%;
      border: none;
      color: #bbbbbb;
    }
    .button-right{
      margin-left: 55%;
    }
  }



}
