.app-air-clinic-department{
  background: #eee;
  letter-spacing: .5px;
  line-height: 1.5;
  .departments {
    padding: 12px;
  }
  img{
    width: 100%;
  }
  .item{
    font-size: 14px;
    border: none;
  }
  .address-message{
    padding-bottom: 0;
    margin-bottom: 10px;
    padding-left: 0;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .bold {
    font-weight: bolder;
  }
  h2 {
    font-size: 16px;
    .tips {
      color: #87cefa;
      margin-left: 0;
    }
    span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: normal;
      color: #888;
    }
  }
  a{
    color: #888;
  }
  p {
    font-size: 14px;
    color: #888;
  }
  .address{
    min-height: 20px;
    position: relative;
    p{
      padding-left: 20px;
    }
    .i-right {
      position: absolute;
      right: 18px;
      color: #888;
      font-size: 16px;
    }
    .i-left {
      position: absolute;
      left: 18px;
      color: #888;
      font-size: 16px;
    }
  }
  .address .item-content{
    min-height: 20px;
  }
  .phone p{
    padding-bottom: 0;
  }
  .department-details{
    position: relative;
    .i {
      position: absolute;
      top: calc(50% - 8px);
      right: 18px;
      color: #888;
      font-size: 16px;
    }
  }
  .list {
    .bold {
      font-weight: bolder;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 16px;
      .tips {
        color: #87cefa;
        margin-left: 0;
      }
      span {
        margin-left: 16px;
        font-size: 14px;
        font-weight: normal;
        color: #888;
      }
    }
    p {
      font-size: 14px;
      color: #888;
    }
    .introduce {
      text-indent: 2em;
    }
    .department-details {
      position: relative;
      .i {
        position: absolute;
        top: calc(50% - 8px);
        right: 18px;
        color: #888;
        font-size: 16px;
      }
      p {
        padding-right: 28px;
      }
    }
  }
}
