.app-air-login{
  background: url("../img/air-life.png") no-repeat center 30px,
              url("../img/login-bottom.png") no-repeat center bottom;
  .phone-input{
    margin-top: 185px;
  }
  input{
    margin-left:  10%;
    margin-right:  10%;
  }


}
