.app-air-clinic-personal-center{
  a:link,a:active,a:visited,a:hover{
    color: #000000;
  }
  .content-body{
    background-color: #e5e5e5;
  }
  .button-logout{
    margin-top: 45px;
    color: #4b8bf4;
  }
  ul{
    margin-bottom: 10px;
    margin-top: 5px;
  }
 .item{
   padding-top: 20px;
   padding-bottom: 20px;
 }
  .item-content{
    padding-top: 10px;
    padding-bottom: 6px;
    border: none;
  }
  .person-icon-inner{
    font-size: 1rem !important;
  }

  .person-icon-outer{
    opacity: 0.5;
  }
  .color-orange{
    color: orange;
  }
  .small-icon{
    font-size: 1rem;
  }
  .middle-icon{
    font-size: 1.5rem;
  }
  .color-red{
    color: red;
  }
  .colore-green{
    color: green;
  }
  .colore-blue{
    color: blue;
  }
  .colore-purple{
    color: purple;
  }
  .color-pink{
    color: pink;
  }
}
