.app-air-clinic-department{
  background-color: #f0f0f0;
  img{
    width: 100%;
  }
  .item{
    font-size: 14px;
    border: none;
  }
  .address-message{
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .bold {
    font-weight: bolder;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 16px;
    .tips {
      color: #87cefa;
      margin-left: 0;
    }
    span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: normal;
      color: #888;
    }
  }
  p {
    font-size: 14px;
    color: #888;
  }
  .address{
    min-height: 20px;
    position: relative;
    .i {
      position: absolute;
      right: 18px;
      color: #888;
      font-size: 16px;
    }
  }
  .address .item-content{
    min-height: 20px;
  }
  .phone p{
    padding-bottom: 0;
  }
  .department-details{
    position: relative;
    .i {
      position: absolute;
      top: calc(50% - 8px);
      right: 18px;
      color: #888;
      font-size: 16px;
    }
  }
}
